spring.rabbitmq.host={{getv "/spring/rabbitmq/host"}}
spring.rabbitmq.port={{getv "/spring/rabbitmq/port"}}
spring.rabbitmq.username={{getv "/spring/rabbitmq/username"}}
spring.rabbitmq.password={{getv "/spring/rabbitmq/password"}}